.header {
  .title {
    font-family: $main-font;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    background-color: $dark-grey;
    color: $beige;
    font-weight: 700;
  }
}

.search-wrapper {
  background-color: $light-pink;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;

  &.hide {
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
  }

  input {
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 50px;
    font-family: $main-font;
  }
}
