.main {
  height: calc(100% - 250px);

  .to-do-list-wrapper {
    overflow-y: auto;
    height: 100%;
  }
}

#to-do-list {
  list-style-type: none;
}

.to-do-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;

  &.checked {
    .check-button {
      border: 1px solid rgb(93, 194, 175);

      i {
        opacity: 1;
      }
    }

    .value {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }

  .check-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 20px;
      color: rgb(93, 194, 175);
      opacity: 0;
    }
  }

  .value {
    flex: 1;
    padding: 10px 15px;
    font-size: 20px;
    font-family: $main-font;
    word-break: break-all;

    span {
      background-color: lightyellow;
    }
  }

  .delete-button {
    font-size: 25px;
    color: $red;
    cursor: pointer;
  }
}
