// Fonts
$main-font: 'Roboto', sans-serif;

// Colors
$dark-grey: #343d4f;
$light-grey: #7c999a;
$beige: #e2f2ee;
$light-pink: #e4dbd7;
$red: #d95050;

// Default CSS
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 750px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

// Import fonts
@import './awesome-fonts/fontawesome.scss';
@import './awesome-fonts/solid.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Import parts
@import './parts/header';
@import './parts/footer';
@import './parts/main.scss';
